<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Drink App Prototype.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E5AB35C1EDC7FD10068C486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E5AB3721EDC7FD20068C486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E5AB37D1EDC7FD20068C486</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
